.navigation-bar {
	min-height: 60px;
}

.nav-bar-drop-down-menu {}
.nav-bar-drop-down-menu__link,
.nav-bar-drop-down-menu__link:hover,
.nav-bar-drop-down-menu__link:visited {
	display: block;
	padding: 0;
	text-decoration: none;
	color: #212529;
}