.chevron-icon {
	width: 1rem;
}
.chevron-icon--down {}
.chevron-icon--right {
	transform: rotate(-90deg);
}
.chevron-icon--left {
	transform: rotate(90deg);
}
.chevron-icon--top {
	transform: rotate(180deg);
}
