:root {
	--very-light-grey: #f5f5f5;
	--very-light-red: #f2dede;
	--very-light-green: #dff0d8;
	--light-gray: #ddd;
	--white-smoke: #ccc;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: var(--very-light-grey);
	padding: 0;
	font-family: sans-serif;
	min-height: 100%;
	/* Margin bottom by footer height */
	margin: 0 0 60px;
}


.colors {}
.colors--very-light-grey {
	background-color: var(--very-light-grey);
}
.colors--very-light-red {
	background-color: var(--very-light-red)
}
.colors--very-light-green {
	background-color: var(--very-light-green);
}
.colors--light-gray {
	background-color: var(--light-gray);
}
.colors--white-smoke {
	background-color: var(--white-smoke);
}

.table tr td,
.table tr th {
	padding: 0.3525rem 0.75rem;
}

.page-title {
	margin-top: 0.625rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}

.form-control {
	padding: 0.15rem 0.4rem;
}

.btn {
	border-radius: 0;
}