.next-race-notifier {}
.next-race-notifier__race-info {
	align-items: center;
	display: flex;
	font-size: small;
}

.next-race-notifier__race-title {
	font-weight: normal;
	margin-left: 5px;
	text-transform: uppercase;
}

.next-race-notifier__countdown-timer {
	font-size: small;
}

@media (max-width: 575.98px) {
	.next-race-notifier__race-info {
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.next-race-notifier__countdown-timer {
		justify-content: space-around;
	}
}